<div class="row row-cards row-deck align-items-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">          
          <div class="col-12">    
            <form action="{{ url_for('note.all', project_token=project.token) }}" method="post">
              <div class="row">
                {{ form.hidden_tag() }}
                <div class="col-2">    
                  {{ form.customer_id(tabindex='1', id='select-beast', class='form-control is-invalid' if form.customer_id.errors else 'form-control', placeholder='Customer..') }}
                  {% for error in form.customer_id.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}
                </div>
                <div class="col-4"> 
                  {{ form.message(size=32, tabindex='2', class='form-control is-invalid' if form.message.errors else 'form-control', placeholder='message..') }}
                  {% for error in form.message.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}                      
                </div>
                <div class="col-2"> 
                  {{ form.instagram_post_url(size=32, tabindex='3', class='form-control is-invalid' if form.instagram_post_url.errors else 'form-control', placeholder='Instagram post url..') }}
                  {% for error in form.instagram_post_url.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}                      
                </div>              
                <div class="col-2">
                  {{ form.state(tabindex='4', class='form-control is-invalid' if form.state.errors else 'form-control', placeholder='State..') }}
                  {% for error in form.state.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}
                </div>
                <div class="col-2"> 
                  <button tabindex="5" class="btn btn-primary pull-right">Create note</button>
                </div>
              </div>
            </form>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>