{% extends "dashboard/index.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info" role="alert">
              {{ messages[0] }}
            </div>             
          </div>
        </div>
      {% endif %}
    {% endwith %}

    {% if [] != customers %}
      
      {% include '_notes_control.html' %}

      <div class="row row-cards row-deck align-items-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">My notes</h3>
            </div>
            
            {% include '_notes_search.html' %}

            <div class="table-responsive">
              <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                <thead>
                  <tr>
                    <th>Customer</th>
                    <th>Message</th>
                    <th>Instagram post url</th>
                    <th>State</th>
                    <th>Created Date</th>     
                    <th class="text-center"></th>               
                  </tr>
                </thead>
                <tbody>
                  {% if [] != notes %}
                    {% include '_note.html' %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>

          {{ pagination.links }}

        </div>
      </div>

      {% if [] == notes %}

        <div class="no-data">
          <h2>Niet notes..</h2>      
        </div>

      {% endif %}

    {% else %}

      <div class="no-data">
        <h2>Go to <a href="{{ url_for('customer.all', project_token=project.token) }}">Customers tab</a> and add some!</h2>      
      </div>

    {% endif %}

    <script>
      require(['jquery', 'selectize'], function ($, selectize) {
        $(document).ready(function () {                
          $('#select-beast').selectize();      
        });
      });
    </script>

{% endblock %}