{% extends "dashboard/index.html" %}

{% block content %}

    <div class="row row-cards row-deck align-items-center">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Create note</h3>
          </div>
          <div class="card-body">
            <form action="{{ url_for('note.create', project_token=project.token) }}" method="post">
                {{ form.hidden_tag() }}
                <div> 
                    {{ form.customer_id(tabindex='1', id='select-beast', class='form-control is-invalid' if form.customer_id.errors else 'form-control', placeholder='Customer..') }}
                    {% for error in form.customer_id.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}
                </div>
                <br>
                <div>
                    {{ form.message(size=32, tabindex='2', class='form-control is-invalid' if form.message.errors else 'form-control', placeholder='message..') }}
                    {% for error in form.message.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}                      
                </div>
                <br>
                <div> 
                    {{ form.instagram_post_url(size=32, tabindex='3', class='form-control is-invalid' if form.instagram_post_url.errors else 'form-control', placeholder='Instagram post url..') }}
                    {% for error in form.instagram_post_url.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}                      
                </div>              
                <br>
                <div>                 
                    {{ form.state(tabindex='4', class='form-control is-invalid' if form.state.errors else 'form-control', placeholder='State..') }}
                    {% for error in form.state.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}
                </div>  
                <br>              
                <div>
                    <a href="{{ url_for('note.all', project_token=project.token) }}" class="btn btn-secondary">&larr; back</a>
                    <button tabindex="5" class="btn btn-primary pull-right">Create note</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <script>
        require(['jquery', 'selectize'], function ($, selectize) {
          $(document).ready(function () {                
            $('#select-beast').selectize();
          });
        });
    </script>

{% endblock %}