<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-3">    
        <select tabindex="1" name="beast" id="select-beast" class="form-control custom-select" placeholder="Go to @customer..">
          <option value=""></option>
          <option value="1">Chuck Testa</option>
          <option value="4">Sage Cattabriga-Alosa</option>
          <option value="3">Nikola Tesla</option>
        </select>
      </div>
      <div class="col-2 text-center" style="padding-top: 6px;"> or create a new </div>

      <div class="col-6">    
        <form action="{{ url_for('customer.all', project_id=project.id) }}" method="post">
          <div class="row">
          {{ form.hidden_tag() }}
          <div class="col-5"> 
            {{ form.instagram_login(size=32, tabindex='2', class='form-control is-invalid' if form.instagram_login.errors else 'form-control', placeholder='@customer..') }}
            {% for error in form.instagram_login.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}                      
          </div>
          <div class="col-4">
            <select tabindex="3" name="state" class="form-control {% if form.state.errors %} is-invalid {% endif %} custom-select">
              <option value="">Label</option>
              <option value="1">Important</option>
              <option value="2">We will see</option>
              <option value="3">Todo</option>
            </select>
            {% for error in form.state.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}
          </div>
          <div class="col-3"> 
            <button tabindex="4" class="btn btn-primary">Create customer</button>
          </div>
          </div>
        </form>
      </div>

    </div>    
  </div>
</div>