<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-4">    
        <select tabindex="1" name="beast" id="select-beast" class="form-control custom-select" placeholder="Go to @customer..">
          <option value=""></option>
          <option value="1">Chuck Testa</option>
          <option value="4">Sage Cattabriga-Alosa</option>
          <option value="3">Nikola Tesla</option>
        </select>
      </div>
      <div class="col-2 text-center" style="padding-top: 6px;"> or create a new </div>

      <div class="col-6">    
        <form action="{{ url_for('customer.all', project_id=project.id) }}" method="post">
          <div class="row">
          {{ form.hidden_tag() }}
          <div class="col-6"> 
            {{ form.fullname(size=32, tabindex='2', class='form-control is-invalid' if form.fullname.errors else 'form-control', placeholder='@customer..') }}
            {% for error in form.fullname.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}                      
          </div>
          <div class="col-6"> 
            <button tabindex="3" class="btn btn-primary">Create customer</button>
          </div>
          </div>
        </form>
      </div>

    </div>    
  </div>
</div>