{% for customer in customers %}
<tr>
    <td class="text-center">
      <div class="avatar d-block" style="background-image: url(demo/faces/female/26.jpg)">
        <span class="avatar-status"></span>
      </div>
    </td>
    <td>
      <div>@{{ customer.instagram_login }}</div>
      <div class="small text-muted">
        Created: {{ customer.created_date.strftime('%Y-%m-%d %I:%M:%S') }}
      </div>
    </td>
    <td>
      <div>
        {% if 1 == customer.state %}
          <span class="badge badge-danger">Important</span>
        {% elif 2 == customer.state %}
          <span class="badge badge-warning">We will see</span>        
        {% elif 3 == customer.state %}
          <span class="badge badge-success">TODO</span>
        {% endif %}
      </div>
    </td>       
    <td>
      <div class="small text-muted">Last login</div>
      <div>4 minutes ago</div>
    </td>
    <td class="text-center">
      <a href="{{ url_for('note.all', customer_id=customer.id) }}" class="btn btn-secondary cb-notes btn-sm">Notes</a>
      <a href="https://instagram.com/{{ customer.instagram_login }}" class="btn btn-secondary btn-sm" target="_blank">Instagram</a>
    </td>
    <td class="text-center">
      <a href="{{ url_for('customer.destroy', id=customer.id) }}" class="icon"><i class="fe fe-trash"></i></a>
    </td>
</tr>
{% endfor %}