{% if [] != control_customers %}
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card p-3">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-azure mr-3">
            <i class="fe fe-users"></i>
          </span>
          <div>
            <h4 class="m-0"><a href="javascript:void(0)">{{ control_customers|length }} <small>Customers</small></a></h4>
            <small class="text-muted">{{ two_customers_count }} "We will see" customers</small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="row row-cards row-deck align-items-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3">    
            <select tabindex="1" name="beast" id="select-beast" class="form-control custom-select" placeholder="Go to @customer..">
              <option value=""></option>
              {% for customer in control_customers %}              
                <option value="{{ customer.id }}">{{ customer.instagram_login }}</option>
              {% endfor %}
            </select>
          </div>
          
          <div class="col-2 text-center" style="padding-top: 6px;"> or create a new </div>
          
          <div class="col-6">    
            <form action="{{ url_for('customer.all', project_token=project.token) }}" method="post">
              <div class="row">
              {{ form.hidden_tag() }}
              <div class="col-5"> 
                {{ form.instagram_login(size=32, tabindex='2', class='form-control is-invalid' if form.instagram_login.errors else 'form-control', placeholder='@customer..') }}
                {% for error in form.instagram_login.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}                      
              </div>
              <div class="col-4">
                <select tabindex="3" name="state" class="form-control {% if form.state.errors %} is-invalid {% endif %} custom-select">
                  <option value="">State</option>
                  <option value="1">Important</option>
                  <option value="2">We will see</option>
                  <option value="3">Todo</option>
                </select>
                {% for error in form.state.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}
              </div>
              <div class="col-3"> 
                <button tabindex="4" class="btn btn-primary">Create customer</button>
              </div>
              </div>
            </form>
          </div>
          <div class="col-1 text-right">
            <a href="{{ url_for('customer.all', project_token=project.token) }}" title="refresh page" class="btn btn-secondary"><i class="fa fa-refresh"></i></a>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>