{% extends "dashboard/index.html" %}

{% block content %}

    <h1 class="page-title">
      <span style="margin-right: 10px;">{{ customer.project.fullname }}</span> &#187; 
      <span style="margin: 0px 10px; 0px 10px;"><a href="{{ url_for('customer.all', project_id=customer.project.id) }}">customers</a></span> &#187; 
      <span style="margin-left: 10px;">@{{ customer.instagram_login }}</span>
    </h1>
    
    <br>

    <div class="row row-cards row-deck align-items-center">
      <div class="col-md-8">

          <div class="card">
              <div class="card-header">
                <h3 class="card-title">Achtung Achtung!</h3>
              </div>
              <div class="card-alert alert alert-danger mb-0">
                Are you sure? All data related to <b>@{{ customer.instagram_login }}</b> will be destroyed permamently.
              </div>
              <div class="card-body">
                <form action="{{ url_for('customer.destroy', id=customer.id) }}" method="post">
                  <a href="{{ url_for('customer.all', project_id=customer.project.id) }}" class="btn btn-secondary">&larr; back</a>
                  <button class="btn btn-danger pull-right">Delete customer</button>
                </form>
              </div>
            </div>

      </div>
    </div>

{% endblock %}