{% extends "dashboard/index.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info" role="alert">
              {{ messages[0] }}
            </div>             
          </div>
        </div>
      {% endif %}
    {% endwith %}

    {% include '_customers_control.html' %}

    {% if [] != customers %}

      <div class="row row-cards row-deck align-items-center">
        <div class="col-md-12">
          <div class="card">
            <div class="table-responsive">
              <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                <thead>
                  <tr>
                    <th class="text-center w-1"><i class="icon-people"></i></th>
                    <th>Customer</th>
                    <th>State</th>
                    <th>Activity</th>
                    <th></th>
                    <th class="text-center"><i class="icon-settings"></i></th>
                  </tr>
                </thead>
                <tbody>
                  {% include '_customer.html' %}
                </tbody>
              </table>
            </div>
          </div>

          {{ pagination.links }}

        </div>
      </div>

    {% else %}

      <div class="no-data">
        <h2>Add some customers Bro!</h2>
      </div>

    {% endif %}

    <script>

      // TODO: redirecting

      require(['jquery', 'selectize'], function ($, selectize) {
        $(document).ready(function () {                
          $('#select-beast').selectize({
            onChange: function () {
              if( this.getValue() > 0 )
              {
                window.location.href = "{{ url_for('note.all', project_token=project_token) }}" + this.getValue();
              }
            }
          });      
        });
      });
    </script>

{% endblock %}