{% extends "dashboard/index.html" %}

{% block content %}

    <h1 class="page-title">
        <span class="left-breadcrumb">{{ customer.project.fullname }}</span> &#187; 
        <span class="middle-breadcrumb"><a href="{{ url_for('customer.all', project_id=customer.project.id) }}">customers</a></span> &#187; 
        <span class="right-breadcrumb">@{{ customer.instagram_login }}</span>
    </h1>
    
    <br>

    <div class="row row-cards row-deck align-items-center">
      <div class="col-md-12">

      </div>
    </div>

{% endblock %}