{% extends "dashboard/index.html" %}

{% block content %}

    <div class="row row-cards row-deck align-items-center">
  
      <div class="col-md-2">
        <div class="card-body">
          <div class="mb-4 text-center">
            <a href="#"><span class="avatar avatar-xxl avatar-cyan">FA</span></a>
          </div>
          <h4 class="card-title text-center">
            <a href="javascript:void(0)">
              Falcon Aviator
            </a>
          </h4>
        </div>
      </div>

      <div class="col-md-2">
        <div class="card-body">
          <div class="mb-4 text-center">
            <a href="#" title="Add new project"><span class="avatar avatar-xxl avatar-gray">+</span></a>
          </div>
          <h4 class="card-title text-center">
              <a href="javascript:void(0)">
                &nbsp;
              </a>
            </h4>
        </div>
      </div>

    </div>

{% endblock %}