{% extends "dashboard/index.html" %}

{% block content %}

    <div class="row row-cards row-deck align-items-center">
  
      <div class="col-md-8">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                  {{ messages[0] }}
                </div>             
              </div>
            </div>
          {% endif %}
        {% endwith %}

        <form action="{{ url_for('project.update', id=project.id) }}" method="post">
          {{ form.hidden_tag() }}
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Update project</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <div class="input-icon mb-3">
                  {{ form.fullname(size=32, value=form.fullname.data if form.fullname.data else project.fullname, class='form-control is-invalid' if form.fullname.errors else 'form-control', placeholder='fullname..') }}
                  {% for error in form.fullname.errors %}<div class="invalid-feedback">{{ error }}</div> {% endfor %}                      
                </div>
              </div>          
            </div>
            <div class="card-footer text-right">
              <div class="d-flex">
                <a href="{{ url_for('project.all') }}" class="btn btn-link">&larr; Back</a>
                <button type="submit" class="btn btn-primary ml-auto">Update project</button>
              </div>
            </div>
          </div>
        </form>
      </div>      
    </div>

{% endblock %}