{% extends "dashboard/index.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info" role="alert">
              {{ messages[0] }}
            </div>             
          </div>
        </div>
      {% endif %}
    {% endwith %}

    <div class="row row-cards row-deck align-items-center">
  
      {% for project in projects %}
        <div class="col-md-2">
          <div class="card-body">
            <div class="mb-4 text-center">
              <a href="{{ url_for('customer.all', project_token=project.token) }}"><span class="avatar avatar-xxl avatar-cyan">FA</span></a>
            </div>
            <h4 class="card-title text-center">
              <a href="{{ url_for('customer.all', project_token=project.token) }}">
                {{ project.fullname }}
              </a>
            </h4>
          </div>
        </div>
      {% endfor %}

      <div class="col-md-2">
        <div class="card-body">
          <div class="mb-4 text-center">
            <a href="{{ url_for('project.create') }}" title="Add new project"><span class="avatar avatar-xxl avatar-gray">+</span></a>
          </div>
          <h4 class="card-title text-center">
            <a href="javascript:void(0)">
              &nbsp;
            </a>
          </h4>
        </div>
      </div>

    </div>

{% endblock %}